<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>登録</title>

<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script>

$(function(){
	$('#addUserForm').validate({
		rules:{
			userName:{required: true}
	        fullName:{required: true}
	        password:{required: true}
		},
	    messages:{
	    	userName:{required: 'これは必須項目です'}
		    fullName:{required: 'これは必須項目です'}
		    password:{required: 'これは必須項目です'}
	    }
	});
})






$(() => {
	$('#addUserForm').on('submit', duplication);
});

let duplication = (event) => {
	
	var checkUserName = $(this).val();
	if(checkUserName){
		$.ajax({
			url:'/ecsite/addUser',
			type:"POST",
			data:{
				check:checkUserName,
				table:'user',
				fuild:'user_name',
			}
		    scriptCharset:'utf-8'
		}).done(function(flag){
			if(flag == 1){
				alert('そのユーザー名は既に登録されています');
				$('#addUserForm').val('');
			}
		})
	}
	
	}
	

</script>

</head>
<body>

<header>
    <h1>My EC site -- register page</h1>
</header>

<div id="adminPage">
   <h2>ユーザー新規登録</h2>
   <form name="addUserForm" id="addUserForm" method="post" action="/ecsite/addUser" th:action="@{/ecsite/addUser}">
      <p>ユーザーネーム:<input type="text" name="userName" /></p>
      <p>フルネーム:<input type="text" name="fullName" /></p>
      <p>パスワード:<input type="password" name="password"/></p>
      <button type="submit">登録</button>
   
      
   </form>   
</div>


</body>
</html>